#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.buttons {
  height: 100%;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.button {
  height: 50px;
  width: 50%;
  color: #1a1a1a;
  background-color: #f3f3f3;
}
.button:hover {
  background-color: aqua;
}

.operators {
  width: 100px;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  min-width: 100px;
}
.operator {
  width: 40px;
  height: 40px;
}
.screen {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red {
  color: red;
}
